{{define "content"}}
<article class="grid">
  <div>
    <hgroup>
        <h2>{{tr . "BookmarksTitle"}}</h2>
      <h3>
        {{ if $.User.Is .Profile.URL }}
        {{tr . "BookmarksYou"}}
        {{ else }}
        {{(tr . "BookmarksUser" (dict "Username" .Profile.Username))|html}}
        {{ end }}
      </h3>
    </hgroup>
    {{ if .Profile.Bookmarks }}
    <ol>
      {{ range $Hash, $Title := .Profile.Bookmarks }}
      <li><a href="/twt/{{ $Hash }}">{{ with $Title }}{{ $Title }}{{ else }}#{{ $Hash }}{{ end }}</a></li>
      {{ end }}
    </ol>
    {{ else }}
    <small>
      {{ if $.User.Is .Profile.URL }}
      {{tr . "BookmarksNoBookmarksSummary"}}
      {{ else }}
      <b>{{ .Profile.Username }}</b> {{tr . "BookmarksNoBookmarks"}}</i>
      {{ end }}
    </small>
    {{ end }}
  </div>
</article>
{{ end }}
