{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
        <h1>{{tr . "DeleteAccountTitle"}}</h1>
        <h2>{{tr . "DeleteAccountSummary"}}</h2>
      </hgroup>
    </div>
  </article>
  <article>
    <div id="myfeeds" class="grid">
      {{ if .User.Feeds }}
        <ul>
          {{ range .Feeds }}
            {{ if $.User.OwnsFeed .Name }}
              <li>
                <p><i>{{ .Name }}</i></p>
              </li>
            {{ end }}
          {{ end }}
        </ul>
      {{ else }}
      <p><small>{{tr . "DeleteAccountNoFeedsSummary"}}</small></p>
      {{ end }}
    </div>
    <div class="grid">
        <div>
            <form action="/delete" method="POST" onsubmit="return confirm('{{tr . "DeleteAccountFormConfirm"}}');">
              <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
              <button type="submit" class="contrast">{{tr . "DeleteAccountFormDeleteAll"}}</button>
            </form>
        </div>
    </div>
  </article> 
{{end}}
