{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
          <h2>{{tr . "FollowingTitle"}}</h2>
        <h3>
          {{ if $.User.Is .Profile.URL }}
          {{tr . "FollowingFollowingYou"}}
          {{ else }}
          {{(tr . "FollowingFollowingUser" (dict "Username" .Profile.Username))|html}}  
          {{ end }}
        </h3>
      </hgroup>
      {{ if .Profile.Following }}
        <ol>
          {{$ctx:=.}}
          {{ range $Nick, $URL := .Profile.Following }}
            <li>
              {{ if isLocalURL $URL }}
                <a href="{{ $URL | trimSuffix "/twtxt.txt" }}">
              {{ else }}
                <a href="/external?uri={{ $URL }}&nick={{ $Nick  }}">
              {{ end }}
              {{ if $.User.Is $URL }}{{tr $ctx "MeLinkTitle"}}{{ else }}{{ $Nick }}{{ end }}</a>

              {{ if $.Authenticated }}
                {{ if not ($.User.Is $URL) }}
                  {{ if $.User.Follows $URL }}
                  [<a href="/unfollow?nick={{ $Nick }}">{{tr $ctx "UnfollowLinkTitle"}}</a>]
                  {{ else }}
                  [<a href="/follow?nick={{ $Nick }}&url={{ $URL }}">{{tr $ctx "FollowLinkTitle"}}</a>]
                  {{ end }}
                {{ end }}
              {{ end }}
            </li>
          {{ end }}
        </ol>
      {{ else }}
        <small>
          {{ if $.User.Is .Profile.URL }}
          {{(tr . "FollowingNoFollowingSummary" (dict "InstanceName" .InstanceName))|html}}
          {{ else }}
            <b>{{ .Profile.Username }}</b> {{tr . "FollowingNoFollowing"}}</i>
          {{ end }}
        </small>
      {{ end }}
    </div>
  </article>
{{ end }}
