{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
          <h2>{{tr . "FollowersTitle"}}</h2>
        <h3>
          {{ if $.User.Is .Profile.URL }}
          {{tr . "FollowersFollowingYou"}}
          {{ else }}
          {{(tr . "FollowersFollowingUser" (dict "Username" .Profile.Username))|html}} </b>
          {{ end }}
        </h3>
      </hgroup>
      {{ if .Profile.Followers }}
        <ol>
          {{$ctx:=.}}
          {{ range $Nick, $URL := .Profile.Followers }}
            <li>
              {{ if $.User.Is $URL }}
              <a href="{{ $URL }}">{{tr $ctx "MeLinkTitle"}}</a>
              {{ else }}
                {{ if isLocalURL $URL }}
                  <a href="{{ $URL | trimSuffix "/twtxt.txt" }}">{{ $Nick }}</a>
                {{ else }}
                  <a href="/external?uri={{ $URL }}&nick={{ $Nick  }}">{{ $Nick }}</a>
                {{ end }}
                (<a href="{{ $URL }}">{{ $URL }}</a>)

                {{ if $.Authenticated }}
                  {{ if not ($.User.Is $URL) }}
                    {{ if $.User.Follows $URL }}
                    [<a href="/unfollow?nick={{ $Nick }}">{{tr $ctx "UnfollowLinkTitle"}}</a>]
                    {{ else }}
                    [<a href="/follow?nick={{ $Nick }}&url={{ $URL }}">{{tr $ctx "FollowLinkTitle"}}</a>]
                    {{ end }}
                  {{ end }}
                {{ end }}
              {{ end }}
            </li>
          {{ end }}
        </oL>
      {{ else }}
        <small>
          {{ if $.User.Is .Profile.URL }}
          {{(tr . "FollowersNoFollowersSummary" (dict "InstanceName" .InstanceName))|html}}
          {{ else }}
          <b>{{ .Profile.Username }}</b> {{tr . "FollowersNoFollowers"}}</i>
          {{ end }}
      {{ end }}
    </div>
  </article>
{{ end }}
