{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
          <h2>{{tr . "LoginTitle"}}</h2>
          <p>{{tr . "LoginSummary" (dict "InstanceName" $.InstanceName)}}</p>
      </hgroup>
      <form action="/login" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <input type="text" name="username" placeholder="{{tr . "LoginFormUsername"}}" aria-label="Username" autocomplete="nickname" autofocus required>
        <input type="password" name="password" placeholder="{{tr . "LoginFormPassword"}}" aria-label="Password" autocomplete="current-password" required>
        <fieldset>
          <label for="rememberme">
            <input type="checkbox" id="rememberme" name="rememberme">
            {{tr . "LoginFormRemberMe"}}
          </label>
        </fieldset>
        <button type="submit" class="contrast">{{tr . "LoginFormLogin"}}</button>
        <p>
        {{tr . "LoginNoAccountTitle"}}
          {{ if .RegisterDisabled }}
          <a href="#" data-tooltip="{{ with .RegisterDisabledMessage }}{{ .RegisterDisabledMessage }}{{ else }}{{tr . "RegisterDisabledMessage"}}{{ end }}">{{tr . "RegisterLinkTitle"}}</a>
          {{ else }}
          <a href="/register">{{tr . "RegisterLinkTitle"}}</a>
          {{ end }}
          {{tr . "Instead"}}
        </p>
        <p>
        <a href="/resetPassword">{{tr . "ResetPasswordLinkTitle"}}</a>
        </p>
      </form>
    </div>
    <div>
      <hgroup>
          <h2>{{tr . "LoginHowToTitle"}}</h2>
      </hgroup>
      {{(tr . "LoginHowToContent" (dict "InstanceName" $.InstanceName))|html}}
      {{ if .RegisterDisabled }}
      <p>
      {{tr . "RegisterDisabledMessage"}}
      </p>
      {{end}}
      <p>
      {{(tr . "ForgottenPasswordContent")|html}}
      </p>
    </div>
  </article>
{{end}}
