{{define "content"}}
<article class="grid">
  <div>
    <hgroup>
        <h2>{{tr . "ManageFeedTitle"}}</h2>
        <h3>{{(tr . "ManageFeedSummary" dict "Username" .Profile.Username)|html}}</h3>
    </hgroup>
    <form action="/feed/{{  .Profile.Username }}/manage"  enctype="multipart/form-data" method="POST">
      <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
      <label for="avatar_upload">
        {{tr . "ManageFeedFormChangeAvatarTitle"}}
        <input id="avatar_upload" type="file" accept="image/png, image/jpeg" name="avatar_file" aria-label="Upload Avatar" />
      </label>
      <label for="description">
        {{tr . "ManageFeedFormDescriptionTitle"}}
        <input type="text" id="description" name="description" placeholder="{{tr . "ManageFeedFormDescription"}}" required value="{{ .Profile.Tagline }}">
      </label>
      <button type="submit">{{tr . "ManageFeedFormUpdate"}}</button>
    </form>

    <hgroup>
        <h2>{{tr . "ArchiveFeedTitle"}}</h3>
        <h3>{{tr . "ArchiveFeedSummary"}}</h3>
    </hgroup>
    <p>
    {{(tr . "ArchiveFeedWarning")|html}}
    </p>
    <form action="/feed/{{  .Profile.Username }}/archive" method="POST" onsubmit="return confirm('{{tr . "ArchiveFeedFormConfirm"}}');">
      <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
      <button type="submit" class="contrast">{{tr . "ArchiveFeedFormArchive"}}</button>
    </form>

    <hgroup>
        <h2>{{tr . "TransferFeedTitle"}}</h2>
        <h3>{{tr . "TransferFeedSummary"}}</h3>
    </hgroup>
    <p>
    {{(tr . "TransferFeedWarning")|html}}
    </p>
    <form action="/transferFeed/{{  .Profile.Username }}" method="GET">
      <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
      <button type="submit" class="contrast">{{tr . "TransferFeedFormTransfer"}}</button>
    </form>
  </div>
</article>
{{ end }}
