{{define "content"}}
  <article class="grid">
    <div>
      <hgroup>
          <h2>{{tr . "ResetPasswordTitle"}}</h2>
          <p>{{tr . "ResetPasswordSummary"}}</p>
      </hgroup>
      <form action="/resetPassword" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <input type="text" name="username" placeholder="{{tr . "ResetPasswordFormUsername"}}" aria-label="Username" autocomplete="nickname" autofocus required>
        <input type="text" name="email" placeholder="{{tr . "ResetPasswordFormEmail"}}" aria-label="Email" autocomplete="email" required>
        <button type="submit" class="contrast">{{tr . "ResetPasswordFormReset"}}</button>
      </form>
    </div>
    <div>
      <hgroup>
          <h2>{{tr . "ResetPasswordHowToTitle"}}</h2>
      </hgroup>
      {{(tr . "ResetPasswordHowToContent")|html}}
    </div>
  </article>
{{end}}
